$electric-violet: #6219ff;
$red-violet: #cd1492;

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 600px) {
    align-items: flex-start;
  }
}
.articles__header {
  background-color: $electric-violet;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}

.articles__logo {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.articles__title {
  color: white;
  font-size: 2.4rem;
  text-align: left;
  margin: 1rem auto;
  width: 300px;

  @media (min-width: 600px) {
    align-self: flex-start;
    margin-inline: unset;
  }
}

.articles__body {
  background-color: white;
  padding: 1rem 2rem;
}

.articles__sorting {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.6rem;
  padding: 1rem 0;
}

.articles__sort-options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}
.articles__sort-link {
  color: $electric-violet;
  padding: 1.2rem;
}

.articles__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 1rem auto;
  padding: 0;

  @media (min-width: 600px) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }
}

.article {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.article__thumbnail {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.article__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 1rem;
  padding-top: 1rem;
  font-size: 1.6rem;
}

.article__title {
  width: 300px;
  font-size: 2rem;
  word-wrap: break-word;
}

.article__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.article__user-avatar {
  height: 2rem;
  width: auto;
}

.article__info form {
  align-self: flex-end;
}

.article__like-button {
  background-color: $electric-violet;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid $electric-violet;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.article__like-button:focus-visible {
  background-color: white;
  color: $electric-violet;
  outline-offset: 2px;
}

.article__like-button--liked {
  background-color: $red-violet;
  border-color: $red-violet;
}

.article__like-button--liked:focus-visible {
  background-color: white;
  color: $red-violet;
}
