.articles__sorting {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  padding: 1rem 0;
  @media (min-width: 660px) {
    flex-direction: row;
  }
}

.articles__sort-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  margin-left: -1rem;
  width: 300px;
  @media (min-width: 660px) {
    margin-left: unset;
    width: auto;
  }
}

.articles__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 1rem auto;
  padding: 0;

  @media (min-width: 600px) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }
}

.article {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.article__thumbnail {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.article__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 1rem;
  padding-top: 1rem;
  font-size: 1.6rem;
}

.article__title {
  width: 300px;
  font-size: 2rem;
  word-wrap: break-word;
}

.article__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.article__user-avatar {
  height: 2rem;
  width: auto;
}

.article__info form {
  align-self: flex-end;
}
