@import "settings/reset";
@import "settings/colours";
@import "components/link";
@import "components/button";
@import "components/header";
@import "components/main";
@import "articles";

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 600px) {
    align-items: flex-start;
  }
}
